<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upcoming Events</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./assets/css/style.css">
    <link rel="shortcut icon" href="./assets/images/ico_amzg_events.png" type="image/x-icon">
</head>

<body class="body-flex">
    <header class="header-flex">
        <figure>
            <img class="img-logo" src="./assets/images/logo_amzg_events.png" alt="logo amazing events">
        </figure>
        <nav class="link-flex">
            <a class="header-link" href="./index.html">Home</a>
            <a class="header-link" href="#">Upcoming Events</a>
            <a class="header-link" href="./past_events.html">Past Events</a>
            <a class="header-link" href="./stats.html">Stats</a>
            <a class="header-link" href="./contact.html">Contact</a>
        </nav>
    </header>

    <!-- este div es para que funcione VUE -->
    <div id="app">
        <!-- ahora la fc está en computed y no en methods, no se usan los v-on y debo agregar esta fc en el html -->
        <!-- la encerré en un div para, con estilos, ocultarla porque sino se ve en el html al cargar -->
        <div class="hidden-fc-filtrar">
            {{ filtrarUp }}
        </div>

        <main>
            <!-- MAIN TITLE -->
            <section class="section-title-flex">
                <a class="move-link" href="./index.html">&lt;</a>
                <h1 class="page-title">Upcoming Events</h1>
                <a class="move-link" href="./past_events.html">&gt;</a>
            </section>

            <!-- LOADER -->
            <div id="loaderContainerId">
                <div id="loaderId"></div>
            </div>

            <!-- FORM -->
            <form class="form-flex" action="./README.md" method="get">
                <fieldset class="category-flex" id="categoryId-upcoming">
                    <!-- *Acá va el código dinámico de categorías -->

                    <label v-if="categories" v-for="categoria of categories" :for="categoria">
                        <input v-model="checkedValue" class="check" type="checkbox" name="choose" :id="categoria" :value="categoria">
                        {{categoria}}</label>
                        <!-- {{checkedValue}} -->

                </fieldset>

                <fieldset class="media-search">
                    <input v-model="searchValue" class="input-text" type="search" placeholder="Search here"
                        name="searching" id="idSearch">
                </fieldset>
            </form>

            <!-- CARD'S -->
            <div class="card-flex" id="idCard">
                <!-- *Acá va el código dinámico -->

                <!-- el boolean de un array vacío da true, por eso se pone .length > 0 -->
                <article v-if="filterEventsUp.length > 0" v-for="evento of filterEventsUp" class="card">
                    <figure>
                        <img class="card-image" v-bind:src="evento.image" v-bind:alt="evento.name">
                    </figure>
                    <h2>{{evento.name}}</h2>
                    <p>{{evento.description}}</p>
                    <div class="base-card">
                        <p>Price ${{evento.price}}</p>
                        <a class="but-view" :href="'./details.html?id=' + evento.id">View more</a>
                    </div> 
                </article>
                
                <!-- en caso de no encontrar nada. Uso el v-else -->
                <article v-else class="card">
                    <figure>
                        <img class="card-image" src="./assets/images/not_found.webp" alt="No encontrado">
                    </figure>
                    <h2>No event found!</h2>
                    <h3>Try again with other words :)</h3>
                </article>

            </div>

        </main>
    
    <!-- este es el fin del div de VUE -->
    </div>

    <!-- FOOTER -->
    <footer class="footer-flex foot-bottom">
        <figure class="foot-fig">
            <img class="foot-img" src="./assets/images/instagram.png" alt="Instagram" title="Instagram">
            <img class="foot-img" src="./assets/images/facebook.png" alt="Facebook" title="Facebook">
            <img class="foot-img" src="./assets/images/whatsapp.png" alt="whatsApp" title="whatsApp">
        </figure>
        <section class="foot-title">
            <h2>FE05-TN</h2>
        </section>
    </footer>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/scripts/upcoming.js"></script>
</body>

</html>